<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">

    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/assets/js/amazeui.min.js"></script>
    <style>
        html,body{
            overflow: hidden;
            height: 100%;
            width: 100%;
        }
        body{
            background-size:cover;
            background-attachment:fixed;
            background-color:#CCCCCC;
        }
        header{
            background: rgba(255,255,255,0.1);
        }
    </style>
</head>
<body th:style="'background:url(' + @{(${url})} + ')'">
    <div th:replace="commons/bar::#headDiv"></div>

    <div id="bg">
        <p>
            和所有以梦为马的诗人一样
            <br>
            <i>岁月易逝 一滴不剩</i>
        </p>
    </div>

    <!--<div th:replace="commons/bar::#footDiv"></div>-->
</body>
</html>