<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.pzhu.blog.dao.category.TagDAO">
    <resultMap id="tagMap" type="cn.edu.pzhu.blog.dao.category.model.Tag">
        <id column="id" property="id" javaType="INTEGER"/>
        <result column="u_id" property="uId" javaType="INTEGER"/>
        <result column="name" property="name" javaType="STRING"/>
        <result column="style" property="style" javaType="STRING"/>
        <result column="modify_date" property="modifyDate" javaType="STRING"/>
        <result column="create_date" property="createDate" javaType="STRING"/>
    </resultMap>
    
    <sql id="base_column_list">
        id, u_id, name, style, modify_date, create_date
    </sql>

    <select id="getCount" resultType="java.lang.Integer">
        select count(*)
        from tag
        where u_id = #{uId,jdbcType=INTEGER}
    </select>

    <delete id="deleteById">
        delete from tag
        where id = #{id,jdbcType=INTEGER}
        and u_id = #{uId,jdbcType=INTEGER}
    </delete>

    <select id="getById" resultType="cn.edu.pzhu.blog.dao.category.model.Tag" resultMap="tagMap">
        SELECT
        <include refid="base_column_list"/>
        FROM tag
        WHERE id = #{id, jdbcType=INTEGER}
    </select>

    <delete id="deleteTag">
        delete
        from tag
        where
        id = #{id,jdbcType=INTEGER}

    </delete>

    <insert id="addTag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tag(
            u_id,
            name,
            style,
            modify_date,
            create_date)
        VALUES
            (
            #{uId, jdbcType=INTEGER},
            #{name, jdbcType=VARCHAR},
            #{style, jdbcType=VARCHAR},
            #{modifyDate, jdbcType=VARCHAR},
            #{createDate, jdbcType=VARCHAR}
            )

    </insert>


    <select id="findTagByName" resultType="cn.edu.pzhu.blog.dao.category.model.Tag" resultMap="tagMap">
        SELECT
        <include refid="base_column_list"/>
        FROM tag
        WHERE name = #{name, jdbcType=VARCHAR}
    </select>

    <select id="getTagByAid" resultType="cn.edu.pzhu.blog.dao.category.model.Tag" resultMap="tagMap">
        SELECT
        <include refid="base_column_list"/>
        FROM tag
        WHERE u_id = #{uId, jdbcType=INTEGER}
    </select>

</mapper>